table{
    width:500px;
    height:500px;
    background-color: grey;
}
table td{
    padding:1px;
    margin:1px;
}
td {
    background-color: white;
    /*
        width: 5%;
        height: 5%;
    */
    text-align: center;
}


i {
    color: red;
    margin-left: 5px;
}

#onusers {
    font-weight: bold;
}
